



PORT = 5000
NODE_ENV = "development"
JWT_SECRET =

EMAIL_USER =
PASS_USER =

MONGODB_URL =

# //// google credentials
CLIENT_ID =
PROJECT_ID =
AUTH_URI =
TOKEN_URI =
AUTH_PROVIDER_URL =
CLIENT_SECRET =
REDIRECT_URI =
SCOPE  = openid-email-profile

# //// Cloudinary credentials
CLOUD_NAME  =
API_KEY =
API_SECRET =

# /// khalti credentials
KHALTI_API  =
PAYMENT_REDIRECT_URI  =
WEB_URI  =
REQUEST_URI  = "https://dev.khalti.com/api/v2/epayment/initiate/"
KHALTI_PAYMENT_LOOKUP_URI  = "https://a.khalti.com/api/v2/epayment/lookup/"

# redis credentials
REDIS_URL =
REDIS_HOST =
REDIS_PORT ='6379'
REDIS_PASSWORD =

# stripe credentials
STRIPE_PUBLIC_KEY  =
STRIPE_SECRET_KEY =

# gemini api
GEMINI_API_KEY=